{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">Take Quiz: {{ quiz.title }}</h1>
    <form method="post">
        {% csrf_token %}
        {% for question, form in form_question_pairs %}
        <div class="card mb-4 shadow">
            <div class="card-header bg-primary text-white">
                {{ question.text }}
            </div>
            <div class="card-body">
                {% for choice in form.choice.field.queryset %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="{{ form.choice.html_name }}" id="choice{{ choice.id }}" value="{{ choice.id }}">
                    <label class="form-check-label" for="choice{{ choice.id }}">
                        {{ choice.text }}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <div class="text-center mb-4">
            <button type="submit" class="btn btn-success btn-lg">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
