{% extends "base.html" %}

{% block content %}
  <h1>Your Best Grades</h1>
  <table>
    <thead>
      <tr>
        <th>Assignment/Quiz</th>
        <th>Best Grade</th>
      </tr>
    </thead>
    <tbody>
      {% for item in best_grades %}
        <tr>
          <td>
            {% if item.quiz__title %}
              Quiz: {{ item.quiz__title }}
            {% else %}
              Assignment: {{ item.assignment__title }}
            {% endif %}
          </td>
          <td>{{ item.best_grade }}%</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
