{% extends "base.html" %}

{% block content %}
  <h1>Gradebook</h1>

  <!-- Display student grades for quizzes and assignments -->
  <table class="table">
    <thead>
      <tr>
        <th>Student</th>
        <th>Assignment/Quiz</th>
        <th class="text-right">Grade</th>
      </tr>
    </thead>
    <tbody>
      {% for student_data in student_grades %}
        {% for grade in student_data.quiz_grades %}
          <tr>
            <td>{{ student_data.student.username }}</td>
            <td>{{ grade.attempt.quiz.title }}</td>
            <td class="text-right">{{ grade.grade }}%</td>
          </tr>
        {% endfor %}
        {% for grade in student_data.assignment_grades %}
          <tr>
            <td>{{ student_data.student.username }}</td>
            <td>{{ grade.assignment.title }}</td>
            <td class="text-right">{{ grade.grade }}%</td>
          </tr>
        {% endfor %}
      {% empty %}
        <tr>
          <td colspan="3">No grades recorded.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- End display student grades -->
  
{% endblock %}
